body {
    margin: 0;
    font-family: 'Open Sans', sans-serif; 

}
.top {
    position: fixed;
    top: 0;
    background-color: white; 
    z-index: 1000; 
    width: 100%; 
}
#logo {
    margin-top: 1%;
    width: 12%; 
    height: auto;
    margin-left: 45%;
    background: none;
    cursor: pointer;
}
.right-icons {
    position: fixed;
    top: 5%; 
    left: 2%; 
    
}
.social-icons {
    position: fixed;
    top: 5%;
    right: 2%; 
}
.social-icons-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
    margin-right: 10px;
}
.side-menu {
    height: 50%;
    width: 0;
    position: fixed;
    top: 15;
    right: 0;
    background-color: #f2f1f1;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 1000;
}
.side-menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
#welcome-message {
    margin-left: 25%;
    color: #818181;
}
.side-menu a:hover {
    color: #f1f1f1;
}
.close-menu {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
}
.close-menu:hover {
    color: #f1f1f1;
}

.page {
    margin-top: 110px;
    position: relative;
}


/* page design  */



#about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
}

#about-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}

#about-text {
    max-width: 600px;
    padding: 20px;
    text-align: right;
}

#about-text h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

#about-text p {
    font-size: 1.2rem;
    line-height: 1.6;
    direction: rtl;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
}

#about-text #contact-email {
    font-size: 1.2rem;
    color: #555;
    margin-top: 20px;
}

#photo1, #photo2 {
    max-width: 400px;
    height: auto;
    border-radius: 10px;
    margin: 20px;
}

#map-container {
    text-align: center;
    margin-top: 40px;
}

#map-container h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

#map-container {
    text-align: center;
    margin-top: 40px;
}

#map-container h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

#prices-info-container {
    text-align: center;
}

#map {
    width: 50%;
    height: 400px;
    margin: 20px 0;
    margin-left:340px;
}

#store-locations {
    list-style-type: none;
    padding: 0;
    text-align: center;
    font-size: 16px;
}

#store-locations li {
    margin: 5px 0;
    font-family: 'Open Sans', sans-serif;
}

#text-and-video {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px 0;
}