body {
    background-size: 100%;
    margin: 0;
    transition: margin-left 0.3s ease; 
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}
.top {
    position: fixed;
    top: 0;
    background-color: white; 
    z-index: 1000; 
    width: 100%; 
}
#logo {
    margin-top: 1%;
    width: 12%; 
    height: auto;
    margin-left: 45%;
    background: none;
}
.right-icons {
    display: flex;
    position: fixed;
    top: 5%; 
    left: 2%; 
    
}
.cart-icon {
    position: relative;
}
.cart-count {
    position: absolute;
    top: -10px;
    left: -20px;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
}
.social-icons {
    position: fixed;
    top: 5%;
    right: 2%; 
}
.social-icons-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
    margin-right: 10px;
}
.side-menu {
    height: 50%;
    width: 0;
    position: fixed;
    top: 15;
    right: 0;
    background-color: #f2f1f1;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 1000;
}
.side-menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.side-menu a:hover {
    color: #f1f1f1;
}
.close-menu {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
}
.close-menu:hover {
    color: #f1f1f1;
}
/*/////////////////////////////////////////////////*/
#cart {
    position: fixed;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.3s;
    z-index: 100; 
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none; 
    z-index: 99;
  }
.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-size: 15px;
    font-family: sans-serif;
    letter-spacing:1px;
}
.close-cart {
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
}
.cart-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}
.payment-btn {
    display: block;
    padding: 10px;
    width: 200px;
    background-color: black;
    border-radius: 30px;
    font-size: larger;
    padding: 20px;
    border: none;
    color: white;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 16px;
}
.cart-footer-saah {
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
#sah-hakol, #cart-total {
    font-size: large;
    font-family: sans-serif;
    letter-spacing:1px;
} 
.review-section {
    margin: 15px;
    display: none;
}
#reviews-section-header {
    display: flex;
    justify-content: end;
    align-items: center;
}
.hidden-content {
    display: none;
    margin: 10px;
}
#hidden-content-btn {
    cursor: pointer;
}
.toggle-button {
    cursor: pointer;
    font-size: 24px;
}
textarea {
    width: 100%;
    height: 100px;
    direction: rtl;
    resize: none;
} 
.saved-review {
    display: flex;
    align-items: center;
    direction: rtl;
    margin: 10px;
}
#hidden-content-btn {
    border: none;
    border-radius: 5px;
    padding: 8px;
    background-color: black;
    color: white;
}
.cart-item {
    display: flex;
    justify-content: baseline;
    align-items: center;
    padding: 20px;

}
.cart-item-Details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}
#cart-item-Img {
    width:130px;  
    border-radius: 10px;  
    border: 1px solid rgb(125, 123, 123);
}
#cart-item-Name, #cart-item-Price, #cart-item-Id, #cart-item-Quantity {
    padding: 5px;
    font-size: large;
    font-family: sans-serif;
    letter-spacing:1px;
}
#cart-item-quantity-text {
    display: flex;
    align-items: center;
    font-size: large;
    font-family: sans-serif;
    letter-spacing:1px;
}
.delete-cart-product {
    width: 80px;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
    border: none;
}
#emptyCart-text{
    display: flex;
    text-align: center;
    justify-content: center;
    color: grey;
    margin-top: 200px;
}


