
.edit-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    max-width: 500px;
    border: 1px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    direction: rtl; /* כיוון הטקסט מימין לשמאל */
}

#editUser-headline {
    text-align: center;
    margin-bottom: 20px;
}

#editUserForm {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#editUserForm label {
    margin-bottom: 5px;
    font-weight: bold;
    text-align: right; /* יישור התוויות לימין */
}

#editUserForm input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    text-align: right; /* יישור הטקסט בתוך התיבות לימין */
}

#editUserForm button {
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    align-self: center;
}

#editUserForm button:hover {
    background-color: #45a049;
}



