
body{
    margin: 5px 0;
    font-family: 'Open Sans', sans-serif;
    
}

#logo{
    cursor:pointer;
}


.page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.edit-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    width: 40%;
    border: 1px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    direction: rtl; 
    font-family: 'Open Sans', sans-serif;
}

#editUser-headline {
    text-align: center;
    margin-bottom: 20px;
    
}

#editUserForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

#editUserForm label {
    margin-bottom: 5px;
    font-weight: bold;
    text-align: right; 
}

#editUserForm input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    text-align: right;
    font-family: 'Open Sans', sans-serif;
}

#editUserForm button {
    padding: 10px 20px;
    border: none;
    background-color: #72e199;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    align-self: center;
    font-family: 'Open Sans', sans-serif;
}

#editUserForm button:hover {
    background-color: #45a049;
}

.side-menu {
    height: 50%;
    width: 0;
    position: fixed;
    top: 15;
    right: 0;
    background-color: #f2f1f1;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 1000;
}


.thumbnail-container {
    width: 50%; 
    display: flex;
    justify-content: flex-end;
}

.thumbnail {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: flex;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


