body {
    margin: 0;
}
.top {
    position: fixed;
    top: 0;
    background-color: white; 
    z-index: 1000; 
    width: 100%; 
}
#logo {
    margin-top: 1%;
    width: 12%; 
    height: auto;
    margin-left: 45%;
    background: none;
}
.right-icons {
    position: fixed;
    top: 5%; 
    left: 2%; 
    
}
.social-icons {
    position: fixed;
    top: 5%;
    right: 2%; 
}
.social-icons-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
    margin-right: 10px;
}
.side-menu {
    height: 50%;
    width: 0;
    position: fixed;
    top: 15;
    right: 0;
    background-color: #f2f1f1;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 1000;
}
.side-menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.side-menu a:hover {
    color: #f1f1f1;
}
.close-menu {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
}
.close-menu:hover {
    color: #f1f1f1;
}

.page {
    margin-top: 110px;
    margin-left: 8px;
    margin-right: 8px;
    position: relative;
}
/*//////////////////////////////////////////////////////////////*/

.gallery {
    /* display: grid; */
    grid-template-columns: repeat(3, 1fr); /* 3 עמודות בגודל שווה */
    grid-auto-rows: minmax(100px, auto); /* גובה אוטומטי */
    gap: 10px; /* מרווח בין התמונות */

}
.gallery img {
    width: 100%; /* תמונות ברוחב המסך */
    height: 100%; /* גובה באופן שווה לרוחב */
    max-height: 400px; /* קביעת גובה מרבי */
    object-fit: cover; /* סדר תמונה למלא את התיבה */
}
.top-image {
    grid-column: 1 / span 3; /* קביעת מיקום התמונה לגריד */
}

.firstlineImg {
    display: flex;
    align-items: center;
}
.firstlineImg Img {
    margin: 2px;
}
.Imgnav {
    display: flex;
    margin-top: 4px;
    justify-content: flex-start;

}
.secondlineImg {
    display: flex;
    justify-content: space-between;
}
.thirdlineImg {
    display: flex;
    justify-content: space-between;
    margin-top: 3px;

}
.thirdlineImg Img {
    height: 285px;
}
.boxfourImgs {
    position: absolute;
    right: 0;
    left: 480px;
}
.boxfourImgs Img {
    margin-left: 3px;
}
.home-aboutUs {
    position: fixed;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    background-color: rgba(10, 10, 10, 0.8);
    color: #a9a9a7;
    border: 1px solid #5a5a59;
    padding: 30px;
    opacity: 0;
    transition: opacity 0.6s ease, transform 0.6s ease;
    width: 92%;
    height: 200px;
    z-index: 1000;
    font-family: cursive;
    direction: rtl;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home-aboutUs h1 {
    font-size: 40px;
}
.home-aboutUs p {
    font-size: medium;
    color: a9a9a7(119, 116, 116);
}
.home-aboutUs.visible {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.05);
}
