/* General Styles */
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Header and Navigation */
.top {
    position: fixed;
    top: 0;
    background-color: white; 
    z-index: 1000; 
    width: 100%; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#logo {
    margin-top: 1%;
    width: 12%; 
    height: auto;
    margin-left: 45%;
    background: none;
}

.right-icons, .social-icons {
    position: fixed;
    top: 5%; 
}

.right-icons {
    left: 2%; 
}

.social-icons {
    right: 2%; 
}

.right-icons button, .social-icons button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
    margin-right: 10px;
}

.side-menu {
    height: 50%;
    width: 0;
    position: fixed;
    top: 15;
    right: 0;
    background-color: #f2f1f1;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 1000;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
}

.side-menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
#welcome-message {
    margin-left: 25%;
    color: #818181;
}

.side-menu a:hover {
    color: #f1f1f1;
}

.close-menu {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
}

.close-menu:hover {
    color: #f1f1f1;
}

/* Page Layout */
.page {
    margin-top: 90px;
    position: relative;
    padding: 20px;
}

.top-page {
    background: gainsboro;    
    color: black;
    padding: 1em;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    display: none;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: center;
}

section.active {
    display: block;
}

section h2 {
    font-family: sans-serif;
    letter-spacing: 1px;
    margin-bottom: 10px;
    text-align: center;
}

.main-manager-page {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Product Section */
#allProducts {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.product {
    flex: 1 1 calc(33.333% - 20px);
    border: 1px solid #e6e6e6;
    padding: 20px;
    margin-bottom: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-sizing: border-box;
    background-color: white;
    transition: transform 0.2s;
}

.product:hover {
    transform: translateY(-5px);
}

.product h3 {
    margin-top: 0;
    font-size: 18px;
    color: #333;
}

.product p {
    margin: 8px 0;
    font-size: 14px;
    color: #666;
}

.product button {
    margin-right: 10px;
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.product button:hover {
    background-color: #555;
}

#createProduct {
    display: block;
    margin: 0 auto 20px auto; /* Centering the button */
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

#createProduct:hover {
    background-color: #555;
}

#productImage{
    width: 100%;
    height: auto;
    max-width: 150px; /* Ensuring images fit well */
}

/* Orders Section */

.order-card {
    flex: 1 1 calc(33.333% - 20px); 
    border: 1px solid #e6e6e6;
    padding: 20px;
    margin-bottom: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-sizing: border-box;
    background-color: white;
    transition: transform 0.2s;
}

.order-card:hover {
    transform: translateY(-5px);
}

#allOrders {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    justify-content: space-between; 
}

.order-card:hover {
    transform: translateY(-5px); 
}

.order-number {
    margin: 0;
    font-size: 18px; 
    color: #333; 
}

.order-label {
    font-weight: bold;
    color: #333; 
}

.order-header p {
    margin: 8px 0; 
    font-size: 14px;
    color: #666; 
}

.toggle-products {
    background-color: #333; 
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px; 
    cursor: pointer;
}

.toggle-products:hover {
    background-color: #555;
}

.products-container {
    display: none;
    margin-top: 10px;
}

.product-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
}

.product-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 10px;
}

.product-details p {
    margin: 5px 0;
    font-size: 14px;
    color: #666;
}

.product-label {
    font-weight: bold;
    color: #333;
}


/* Financial Balance Section */
#balanceEr {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: white;
}

#salesChart {
    width: 100%;
    height: 400px;
}

/* Users Section */

#userStats {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: white;
}

#userStatsChart {
    width: 100%;
    height: 400px;
}