body {
    background-size: 100%;
    margin: 0;
    transition: margin-left 0.3s ease; 
    display: flex;
    font-family: 'Open Sans', sans-serif;
    flex-direction: column;
}
.top {
    position: fixed;
    top: 0;
    background-color: white; 
    z-index: 1000; 
    width: 100%; 
}
#logo {
    margin-top: 1%;
    width: 12%; 
    height: auto;
    margin-left: 45%;
    background: none;
}
.right-icons {
    display: flex;
    position: fixed;
    top: 5%; 
    left: 2%; 
    
}
.cart-icon {
    position: relative;
}
.cart-count {
    position: absolute;
    top: -10px;
    left: -20px;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
}
.social-icons {
    position: fixed;
    top: 5%;
    right: 2%; 
}
.social-icons-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
    margin-right: 10px;
}
.side-menu {
    height: 50%;
    width: 0;
    position: fixed;
    top: 15;
    right: 0;
    background-color: #f2f1f1;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 1000;
}
.side-menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.side-menu a:hover {
    color: #f1f1f1;
}
.close-menu {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
}
.close-menu:hover {
    color: #f1f1f1;
}

/*////////////////////////////////////////*/

.page {
    margin-top: 90px;
}
#productName,#productDescription {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;
}
.prod-and-filter {
    display: flex;
}
.Products {
    width: 90%;
    border: 1px solid black;
}
.products-filter {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: end;
    padding-right: 20px;
    border: 1px solid black;
}
#filterhead {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}
.product{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
}
.product img{
    width: 100%;
}

.filter-container {
    margin-bottom: 20px;
}

.filter-container h3 {
    font-family: 'Arial Black', sans-serif; 
    font-size: 24px; 
    color: #333; 
}

.filter-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.filter-option label {
    order: 1;
    margin-left: 10px;
}

.filter-toggle-container {
    margin-bottom: 10px;
}

.filter-toggle-btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.filter-option input[type="checkbox"] {
    order: 2;
    width: 15px; 
    height: 15px; 
    border-radius: 1px; 
    border: 1px solid #0b0b0b;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
}
figure {
    margin: 20px;
}
figcaption {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    margin-top: 5px;
}
.productprice {
    color: red;
}

.image-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.product img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease; 
}

.image-container:hover img {
    transform: scale(1.05); 
}

.addtocart-btn {
    display: none;
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    padding: 10px;
    background-color:rgba(255, 255, 255, 0.7);
    color:black;
    border: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.image-container:hover .addtocart-btn {
    display: block;
}

#deletedprice {
    color: black;
}
.productColor {
    display: flex;
    align-items: center;
    justify-content: center;
}
#colorspanG {
    width: 15px;
    height: 15px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid white;
    background-color: #b8a11e;
}
#colorspanS {
    width: 15px;
    height: 15px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid white;
    background-color: #C0C0C0;
}
#colorspanRG {
    width: 15px;
    height: 15px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid white;
    background-color: #B76E79;
}

/*////////////////////////////////////////////*/

  
 