.top{
    background-color: blue;
        position: sticky;
        top: 0;
        background-color: white; 
        z-index: 1000; 
        width: 100%; 
}

#logo {
    margin-top: 1%;
    width: 12%; /* שימוש באחוזים כדי להשיג רספונסיביות */
    height: auto;
    margin-left: 45%;
    background: none;
}

.right-icons {
    position: fixed;
    top: 5%; /* שימוש באחוזים כדי להשיג רספונסיביות */
    left: 2%; /* שימוש באחוזים כדי להשיג רספונסיביות */
    
}

.social-icons {
    position: fixed;
    top: 5%; /* שימוש באחוזים כדי להשיג רספונסיביות */
    right: 2%; /* שימוש באחוזים כדי להשיג רספונסיביות */
}

.right-icons button, .social-icons button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
    margin-right: 10px;
}

.social-icons svg, .right-icons svg {
    margin-right: 10%; /* שימוש באחוזים כדי להשיג רספונסיביות */
}

.image-icon {
    position: fixed;
    top: 2%; /* שימוש באחוזים כדי להשיג רספונסיביות */
    right: 2%; /* שימוש באחוזים כדי להשיג רספונסיביות */
    width: 6%; /* שימוש באחוזים כדי להשיג רספונסיביות */
    height: auto;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* שלוש עמודות בגודל שווה */
    grid-auto-rows: minmax(100px, auto); /* גובה אוטומטי */
    gap: 10px; /* מרווח בין התמונות */

}

.gallery img {

    max-width: 100%; /* על מנת להתאים לעמודות */
    height: auto; /* על מנת לשמור על היחסיות */
}
.top-image {
    grid-column: 1 / span 3; /* קביעת מיקום התמונה לגריד */
}

.top-image img {
    width: 100%;
    height: auto;
    max-height: 400px; /* קביעת גובה מרבי */
}

.gallery figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.image-container {
    flex-basis: calc(33.33% - 20px); /* שליש מהרוחב עם מרווח בין התמונות */
    max-width: calc(33.33% - 20px); /* שליש מהרוחב עם מרווח בין התמונות */
    text-align: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.image-container figcaption {
    margin-top: 5px;
    font-style: italic;
}

.gallery figcaption {
    text-align: center;
    font-style: italic;
}

#productName {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 20px;
}

#h1{
    font-size:larger;
}

#filtering-cotainer {
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
    border: 1px solid black;
    padding: 10px;
}